body{
	background-color: #FFFFFF;
}

.main{
	width: 100%;
	height: 4vw;
	background-color: #e1b6a5;
	margin-top: 0;
	border: none;
}

.main figure{
	display: block;
    float: left;
	margin-top: 1.1vw;
	margin-left: 10vw;
	width: 7vw;
	height: 6.3vw;
}

.main figure a #Logo{
	margin-left: 0vw;
	margin-top: 0vw;
	width: 7vw;
	height: 7vw;

}

.main nav{
	float: right;
	background-color: #e1b6a5;
	width: 35%;
	height: 6vw;
	margin-right: 8vw;
}

.main nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.main ul li{
    float: right;
}

.main nav ul li a{
	display: block;
    color: white;
    text-align: center;
    padding: .7vw 1.5vw;
    margin-top: 4vw;
    border-radius: 10px;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 0;
    font-size: 1vw;
}

.main nav ul li a:hover{
	opacity: 0.4;
	filter: alpha(opacity=60);
	cursor: pointer;
}

div #overImage{
    font-family: futura-pt, sans-serif;
	font-style: normal;
    color: white;
}

div #overImage:hover{
    border: 1.5px solid white;
}

div #overImage h1{
    font-size: 3vw;
    font-weight: bold;
    opacity: .8;
    margin-top: -1vw;
}

div form{
    height: 6vw;
    width: 15vw;
    margin-left: 18.5%;
}

div #bestbutton{
	margin: 0vw 0vw;
	background-color: transparent;
	color: #FFFFFF;
	border-radius: 6px;
	width: 100%;
	height: 100%;
    font-family: futura-pt, sans-serif;
	font-style: normal;
	font-size: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	text-decoration: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	text-align: center;

}

div #bestbutton:hover{
    background-color: #FFFFFF;
    opacity: .7;
    color: black;
    
}

div #bestbutton:active{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 3px 10px 0 rgba(0, 0, 0, 0.6);
	transform: translateY(3px);
}

#social{
    width: 100%;
	height: 9vw;
	background-color: #e1b6a5;
	margin-top: -1.1vw;
	border: none;
}

#social #socialmedia{
    display: block;
    margin-left: 47%;
	width: 6vw;
    height: 7.9vw;
}

#social #socialmedia .fa{
    padding: 1.19vw;
    font-size: 4.5vw;
    width: 5.7vw;
    height: 5.7vw;
    text-align: center;
    text-decoration: none;
    margin: 1.5vw 0vw;
    border-radius: 50%;
    
    
}

#social #socialmedia .fa:hover{
    opacity: 0.4;
}

#social #socialmedia .fa-instagram{
    background-color: #e1b6a5;
    color: white;
    margin-top: 1.7vw;
    
}

#social #socialmedia .fa-snapchat-ghost{
    background: #e1b6a5;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

#social #socialmedia .fa-facebook{
    background-color: #e1b6a5;
    color: white;
    
}

#social #socialmedia .fa-twitter{
    background: #e1b6a5;
    color: white;
   
}

.col-lg-12{
    display: block;
}

.item_box{
    font-family: futura-pt, sans-serif;
	font-style: normal;
    font-weight: 300;
    margin-top: .7vw;
}

.photo-thumb{
    border: 1px solid #d3d3d3;
}

.comment{
    border: 1px solid #d3d3d3;
}

#info{
    width: 100%;
    margin-top: 100vw;
    height: 15vw;
    background-color: #a5b2e1;
    font-family: futura-pt, sans-serif;
	font-style: normal;
    font-weight: 300;
    
}

#info p{
    text-align: center;
    color: white;
    font-size: 2vw;
}

#copyright{
	width: 100%;
    margin-top: .7vw;
    height: 2vw;
    font-family: futura-pt, sans-serif;
	font-style: italic;
    font-weight: 300;

}

#copyright p{
	text-align: center;
	color: #262626;
	font-size: 1vw;
}